<a href="https://colab.research.google.com/github/Kaiziferr/machine_learning/blob/main/DT/introducction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/joanby/python-ml-course/master/'\
'datasets/titanic/titanic3.csv'

data = pd.read_csv(url)
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

- *sep*: str = separador
- *dtype*: dict = formatear columnas
- *header*: int = indica cual es la fila que servira como encabezado
- *names*: list = Permite nombrar las columnas
- *skiprows*: int = la fila que se debe leer, se salta las anteriores
- *skip_blank_lines*: bool = Pinta los nan o los deja vacios

In [3]:
data.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [4]:
columns_example = data.columns.to_list()
columns_example
columns_example[1] = 'sobrevivio'

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [6]:
data_t = pd.read_csv(
    url,
    sep=',',
    dtype={"pclass":float},
    header=0,
    names=columns_example,
    skip_blank_lines = True
    )

In [7]:
data_t.head()

,pclass,sobrevivio,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [8]:
data_t.dtypes

pclass        float64
sobrevivio      int64
name           object
sex            object
age           float64
sibsp           int64
parch           int64
ticket         object
fare          float64
cabin          object
embarked       object
boat           object
body          float64
home.dest      object
dtype: object

In [9]:
# Open
path = './sample_data/california_housing_test.csv'
data = open(path, 'r')

In [10]:
cols = data.readline().strip().split(",")
cols

['"longitude"',
 '"latitude"',
 '"housing_median_age"',
 '"total_rooms"',
 '"total_bedrooms"',
 '"population"',
 '"households"',
 '"median_income"',
 '"median_house_value"']

In [11]:
counter = 0
main_dict = {}

for col in cols:
  main_dict[col] = []

In [12]:
for line in data:
  values = line.strip().split(",")
  for i in range(len(cols)):
    main_dict[cols[i]].append(values[i])
  counter = counter + 1
print(f"The dataset has {counter} rows and {len(cols)}")

The dataset has 3000 rows and 9

In [14]:
with open(path, 'r') as infile:
  with open("./data/p.csv", "w") as outfile:
    for line in infile:
      fields = line.strip().split(",")
      outfile.write("\t".join(fields))
      outfile.write("\n")

In [15]:
date_test = pd.read_csv('./data/p.csv', sep='\t')
date_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [16]:
url = 'https://raw.githubusercontent.com/joanby/python-ml-course/master/'\
'datasets/titanic/titanic3.csv'

data = pd.read_csv(url)
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [17]:
# CSV
data.to_csv('./data/dta.csv')
# JSON
data.to_json('./data/dta.json')
# Excel
data.to_excel('./data/dta.xlsx')

In [18]:
import urllib3

In [19]:
url = 'https://raw.githubusercontent.com/Kaiziferr/datasets/main/diabetes.csv'

In [20]:
http = urllib3.PoolManager()
r = http.request('GET', url)

In [21]:
print('Status request code {}'.format(r.status))

Status request code 200

In [22]:
response = r.data

In [23]:
# string binarize to string utf-8
str_data = response.decode('utf-8')

In [24]:
str_data

'Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome\n6,148,72,35,0,33.6,0.627,50,1\n1,85,66,29,0,26.6,0.351,31,0\n8,183,64,0,0,23.3,0.672,32,1\n1,89,66,23,94,28.1,0.167,21,0\n0,137,40,35,168,43.1,2.288,33,1\n5,116,74,0,0,25.6,0.201,30,0\n3,78,50,32,88,31,0.248,26,1\n10,115,0,0,0,35.3,0.134,29,0\n2,197,70,45,543,30.5,0.158,53,1\n8,125,96,0,0,0,0.232,54,1\n4,110,92,0,0,37.6,0.191,30,0\n10,168,74,0,0,38,0.537,34,1\n10,139,80,0,0,27.1,1.441,57,0\n1,189,60,23,846,30.1,0.398,59,1\n5,166,72,19,175,25.8,0.587,51,1\n7,100,0,0,0,30,0.484,32,1\n0,118,84,47,230,45.8,0.551,31,1\n7,107,74,0,0,29.6,0.254,31,1\n1,103,30,38,83,43.3,0.183,33,0\n1,115,70,30,96,34.6,0.529,32,1\n3,126,88,41,235,39.3,0.704,27,0\n8,99,84,0,0,35.4,0.388,50,0\n7,196,90,0,0,39.8,0.451,41,1\n9,119,80,35,0,29,0.263,29,1\n11,143,94,33,146,36.6,0.254,51,1\n10,125,70,26,115,31.1,0.205,41,1\n7,147,76,0,0,39.4,0.257,43,1\n1,97,66,15,140,23.2,0.487,22,0\n13,145,82,19,110,22.2,0.245,57,0\n5,117,92,0,0,34.1,0.337,38,0\n5,109,75,26,0,36,0.546,60,0\n3,158,76,36,245,31.6,0.851,28,1\n3,88,58,11,54,24.8,0.267,22,0\n6,92,92,0,0,19.9,0.188,28,0\n10,122,78,31,0,27.6,0.512,45,0\n4,103,60,33,192,24,0.966,33,0\n11,138,76,0,0,33.2,0.42,35,0\n9,102,76,37,0,32.9,0.665,46,1\n2,90,68,42,0,38.2,0.503,27,1\n4,111,72,47,207,37.1,1.39,56,1\n3,180,64,25,70,34,0.271,26,0\n7,133,84,0,0,40.2,0.696,37,0\n7,106,92,18,0,22.7,0.235,48,0\n9,171,110,24,240,45.4,0.721,54,1\n7,159,64,0,0,27.4,0.294,40,0\n0,180,66,39,0,42,1.893,25,1\n1,146,56,0,0,29.7,0.564,29,0\n2,71,70,27,0,28,0.586,22,0\n7,103,66,32,0,39.1,0.344,31,1\n7,105,0,0,0,0,0.305,24,0\n1,103,80,11,82,19.4,0.491,22,0\n1,101,50,15,36,24.2,0.526,26,0\n5,88,66,21,23,24.4,0.342,30,0\n8,176,90,34,300,33.7,0.467,58,1\n7,150,66,42,342,34.7,0.718,42,0\n1,73,50,10,0,23,0.248,21,0\n7,187,68,39,304,37.7,0.254,41,1\n0,100,88,60,110,46.8,0.962,31,0\n0,146,82,0,0,40.5,1.781,44,0\n0,105,64,41,142,41.5,0.173,22,0\n2,84,0,0,0,0,0.304,21,0\n8,133,72,0,0,32.9,0.27,39,1\n5,44,62,0,0,25,0.587,36,0\n2,141,58,34,128,25.4,0.699,24,0\n7,114,66,0,0,32.8,0.258,42,1\n5,99,74,27,0,29,0.203,32,0\n0,109,88,30,0,32.5,0.855,38,1\n2,109,92,0,0,42.7,0.845,54,0\n1,95,66,13,38,19.6,0.334,25,0\n4,146,85,27,100,28.9,0.189,27,0\n2,100,66,20,90,32.9,0.867,28,1\n5,139,64,35,140,28.6,0.411,26,0\n13,126,90,0,0,43.4,0.583,42,1\n4,129,86,20,270,35.1,0.231,23,0\n1,79,75,30,0,32,0.396,22,0\n1,0,48,20,0,24.7,0.14,22,0\n7,62,78,0,0,32.6,0.391,41,0\n5,95,72,33,0,37.7,0.37,27,0\n0,131,0,0,0,43.2,0.27,26,1\n2,112,66,22,0,25,0.307,24,0\n3,113,44,13,0,22.4,0.14,22,0\n2,74,0,0,0,0,0.102,22,0\n7,83,78,26,71,29.3,0.767,36,0\n0,101,65,28,0,24.6,0.237,22,0\n5,137,108,0,0,48.8,0.227,37,1\n2,110,74,29,125,32.4,0.698,27,0\n13,106,72,54,0,36.6,0.178,45,0\n2,100,68,25,71,38.5,0.324,26,0\n15,136,70,32,110,37.1,0.153,43,1\n1,107,68,19,0,26.5,0.165,24,0\n1,80,55,0,0,19.1,0.258,21,0\n4,123,80,15,176,32,0.443,34,0\n7,81,78,40,48,46.7,0.261,42,0\n4,134,72,0,0,23.8,0.277,60,1\n2,142,82,18,64,24.7,0.761,21,0\n6,144,72,27,228,33.9,0.255,40,0\n2,92,62,28,0,31.6,0.13,24,0\n1,71,48,18,76,20.4,0.323,22,0\n6,93,50,30,64,28.7,0.356,23,0\n1,122,90,51,220,49.7,0.325,31,1\n1,163,72,0,0,39,1.222,33,1\n1,151,60,0,0,26.1,0.179,22,0\n0,125,96,0,0,22.5,0.262,21,0\n1,81,72,18,40,26.6,0.283,24,0\n2,85,65,0,0,39.6,0.93,27,0\n1,126,56,29,152,28.7,0.801,21,0\n1,96,122,0,0,22.4,0.207,27,0\n4,144,58,28,140,29.5,0.287,37,0\n3,83,58,31,18,34.3,0.336,25,0\n0,95,85,25,36,37.4,0.247,24,1\n3,171,72,33,135,33.3,0.199,24,1\n8,155,62,26,495,34,0.543,46,1\n1,89,76,34,37,31.2,0.192,23,0\n4,76,62,0,0,34,0.391,25,0\n7,160,54,32,175,30.5,0.588,39,1\n4,146,92,0,0,31.2,0.539,61,1\n5,124,74,0,0,34,0.22,38,1\n5,78,48,0,0,33.7,0.654,25,0\n4,97,60,23,0,28.2,0.443,22,0\n4,99,76,15,51,23.2,0.223,21,0\n0,162,76,56,100,53.2,0.759,25,1\n6,111,64,39,0,34.2,0.26,24,0\n2,107,74,30,100,33.6,0.404,23,0\n5,132,80,0,0,26.8,0.186,69,0\n0,113,76,0,0,33.3,0.278,23,1\n1,88,30,42,99,55,0.496,26,1\n3,120,70,30,135,42.9,0.452,30,0\n1,118,58,36,94,33.3,0.261,23,0\n1,117,88,24,145,34.5,0.403,40,1\n0,105,84,0,0,27.9,0.741,62,1\n4,173,70,14,168,29.7,0.361,33,1\n9,122,56,0,0,33.3,1.114,33,1\n3,170,64,37,225,34.5,0.356,30,1\n8,84,74,31,0,38.3,0.457,39,0\n2,96,68,13,49,21.1,0.647,26,0\n2,125,60,20,140,33.8,0.088,31,0\n0,100,70,26,50,30.8,0.597,21,0\n0,93,60,25,92,28.7,0.532,22,0\n0,129,80,0,0,31.2,0.703,29,0\n5,105,72,29,325,36.9,0.159,28,0\n3,128,78,0,0,21.1,0.268,55,0\n5,106,82,30,0,39.5,0.286,38,0\n2,108,52,26,63,32.5,0.318,22,0\n10,108,66,0,0,32.4,0.272,42,1\n4,154,62,31,284,32.8,0.237,23,0\n0,102,75,23,0,0,0.572,21,0\n9,57,80,37,0,32.8,0.096,41,0\n2,106,64,35,119,30.5,1.4,34,0\n5,147,78,0,0,33.7,0.218,65,0\n2,90,70,17,0,27.3,0.085,22,0\n1,136,74,50,204,37.4,0.399,24,0\n4,114,65,0,0,21.9,0.432,37,0\n9,156,86,28,155,34.3,1.189,42,1\n1,153,82,42,485,40.6,0.687,23,0\n8,188,78,0,0,47.9,0.137,43,1\n7,152,88,44,0,50,0.337,36,1\n2,99,52,15,94,24.6,0.637,21,0\n1,109,56,21,135,25.2,0.833,23,0\n2,88,74,19,53,29,0.229,22,0\n17,163,72,41,114,40.9,0.817,47,1\n4,151,90,38,0,29.7,0.294,36,0\n7,102,74,40,105,37.2,0.204,45,0\n0,114,80,34,285,44.2,0.167,27,0\n2,100,64,23,0,29.7,0.368,21,0\n0,131,88,0,0,31.6,0.743,32,1\n6,104,74,18,156,29.9,0.722,41,1\n3,148,66,25,0,32.5,0.256,22,0\n4,120,68,0,0,29.6,0.709,34,0\n4,110,66,0,0,31.9,0.471,29,0\n3,111,90,12,78,28.4,0.495,29,0\n6,102,82,0,0,30.8,0.18,36,1\n6,134,70,23,130,35.4,0.542,29,1\n2,87,0,23,0,28.9,0.773,25,0\n1,79,60,42,48,43.5,0.678,23,0\n2,75,64,24,55,29.7,0.37,33,0\n8,179,72,42,130,32.7,0.719,36,1\n6,85,78,0,0,31.2,0.382,42,0\n0,129,110,46,130,67.1,0.319,26,1\n5,143,78,0,0,45,0.19,47,0\n5,130,82,0,0,39.1,0.956,37,1\n6,87,80,0,0,23.2,0.084,32,0\n0,119,64,18,92,34.9,0.725,23,0\n1,0,74,20,23,27.7,0.299,21,0\n5,73,60,0,0,26.8,0.268,27,0\n4,141,74,0,0,27.6,0.244,40,0\n7,194,68,28,0,35.9,0.745,41,1\n8,181,68,36,495,30.1,0.615,60,1\n1,128,98,41,58,32,1.321,33,1\n8,109,76,39,114,27.9,0.64,31,1\n5,139,80,35,160,31.6,0.361,25,1\n3,111,62,0,0,22.6,0.142,21,0\n9,123,70,44,94,33.1,0.374,40,0\n7,159,66,0,0,30.4,0.383,36,1\n11,135,0,0,0,52.3,0.578,40,1\n8,85,55,20,0,24.4,0.136,42,0\n5,158,84,41,210,39.4,0.395,29,1\n1,105,58,0,0,24.3,0.187,21,0\n3,107,62,13,48,22.9,0.678,23,1\n4,109,64,44,99,34.8,0.905,26,1\n4,148,60,27,318,30.9,0.15,29,1\n0,113,80,16,0,31,0.874,21,0\n1,138,82,0,0,40.1,0.236,28,0\n0,108,68,20,0,27.3,0.787,32,0\n2,99,70,16,44,20.4,0.235,27,0\n6,103,72,32,190,37.7,0.324,55,0\n5,111,72,28,0,23.9,0.407,27,0\n8,196,76,29,280,37.5,0.605,57,1\n5,162,104,0,0,37.7,0.151,52,1\n1,96,64,27,87,33.2,0.289,21,0\n7,184,84,33,0,35.5,0.355,41,1\n2,81,60,22,0,27.7,0.29,25,0\n0,147,85,54,0,42.8,0.375,24,0\n7,179,95,31,0,34.2,0.164,60,0\n0,140,65,26,130,42.6,0.431,24,1\n9,112,82,32,175,34.2,0.26,36,1\n12,151,70,40,271,41.8,0.742,38,1\n5,109,62,41,129,35.8,0.514,25,1\n6,125,68,30,120,30,0.464,32,0\n5,85,74,22,0,29,1.224,32,1\n5,112,66,0,0,37.8,0.261,41,1\n0,177,60,29,478,34.6,1.072,21,1\n2,158,90,0,0,31.6,0.805,66,1\n7,119,0,0,0,25.2,0.209,37,0\n7,142,60,33,190,28.8,0.687,61,0\n1,100,66,15,56,23.6,0.666,26,0\n1,87,78,27,32,34.6,0.101,22,0\n0,101,76,0,0,35.7,0.198,26,0\n3,162,52,38,0,37.2,0.652,24,1\n4,197,70,39,744,36.7,2.329,31,0\n0,117,80,31,53,45.2,0.089,24,0\n4,142,86,0,0,44,0.645,22,1\n6,134,80,37,370,46.2,0.238,46,1\n1,79,80,25,37,25.4,0.583,22,0\n4,122,68,0,0,35,0.394,29,0\n3,74,68,28,45,29.7,0.293,23,0\n4,171,72,0,0,43.6,0.479,26,1\n7,181,84,21,192,35.9,0.586,51,1\n0,179,90,27,0,44.1,0.686,23,1\n9,164,84,21,0,30.8,0.831,32,1\n0,104,76,0,0,18.4,0.582,27,0\n1,91,64,24,0,29.2,0.192,21,0\n4,91,70,32,88,33.1,0.446,22,0\n3,139,54,0,0,25.6,0.402,22,1\n6,119,50,22,176,27.1,1.318,33,1\n2,146,76,35,194,38.2,0.329,29,0\n9,184,85,15,0,30,1.213,49,1\n10,122,68,0,0,31.2,0.258,41,0\n0,165,90,33,680,52.3,0.427,23,0\n9,124,70,33,402,35.4,0.282,34,0\n1,111,86,19,0,30.1,0.143,23,0\n9,106,52,0,0,31.2,0.38,42,0\n2,129,84,0,0,28,0.284,27,0\n2,90,80,14,55,24.4,0.249,24,0\n0,86,68,32,0,35.8,0.238,25,0\n12,92,62,7,258,27.6,0.926,44,1\n1,113,64,35,0,33.6,0.543,21,1\n3,111,56,39,0,30.1,0.557,30,0\n2,114,68,22,0,28.7,0.092,25,0\n1,193,50,16,375,25.9,0.655,24,0\n11,155,76,28,150,33.3,1.353,51,1\n3,191,68,15,130,30.9,0.299,34,0\n3,141,0,0,0,30,0.761,27,1\n4,95,70,32,0,32.1,0.612,24,0\n3,142,80,15,0,32.4,0.2,63,0\n4,123,62,0,0,32,0.226,35,1\n5,96,74,18,67,33.6,0.997,43,0\n0,138,0,0,0,36.3,0.933,25,1\n2,128,64,42,0,40,1.101,24,0\n0,102,52,0,0,25.1,0.078,21,0\n2,146,0,0,0,27.5,0.24,28,1\n10,101,86,37,0,45.6,1.136,38,1\n2,108,62,32,56,25.2,0.128,21,0\n3,122,78,0,0,23,0.254,40,0\n1,71,78,50,45,33.2,0.422,21,0\n13,106,70,0,0,34.2,0.251,52,0\n2,100,70,52,57,40.5,0.677,25,0\n7,106,60,24,0,26.5,0.296,29,1\n0,104,64,23,116,27.8,0.454,23,0\n5,114,74,0,0,24.9,0.744,57,0\n2,108,62,10,278,25.3,0.881,22,0\n0,146,70,0,0,37.9,0.334,28,1\n10,129,76,28,122,35.9,0.28,39,0\n7,133,88,15,155,32.4,0.262,37,0\n7,161,86,0,0,30.4,0.165,47,1\n2,108,80,0,0,27,0.259,52,1\n7,136,74,26,135,26,0.647,51,0\n5,155,84,44,545,38.7,0.619,34,0\n1,119,86,39,220,45.6,0.808,29,1\n4,96,56,17,49,20.8,0.34,26,0\n5,108,72,43,75,36.1,0.263,33,0\n0,78,88,29,40,36.9,0.434,21,0\n0,107,62,30,74,36.6,0.757,25,1\n2,128,78,37,182,43.3,1.224,31,1\n1,128,48,45,194,40.5,0.613,24,1\n0,161,50,0,0,21.9,0.254,65,0\n6,151,62,31,120,35.5,0.692,28,0\n2,146,70,38,360,28,0.337,29,1\n0,126,84,29,215,30.7,0.52,24,0\n14,100,78,25,184,36.6,0.412,46,1\n8,112,72,0,0,23.6,0.84,58,0\n0,167,0,0,0,32.3,0.839,30,1\n2,144,58,33,135,31.6,0.422,25,1\n5,77,82,41,42,35.8,0.156,35,0\n5,115,98,0,0,52.9,0.209,28,1\n3,150,76,0,0,21,0.207,37,0\n2,120,76,37,105,39.7,0.215,29,0\n10,161,68,23,132,25.5,0.326,47,1\n0,137,68,14,148,24.8,0.143,21,0\n0,128,68,19,180,30.5,1.391,25,1\n2,124,68,28,205,32.9,0.875,30,1\n6,80,66,30,0,26.2,0.313,41,0\n0,106,70,37,148,39.4,0.605,22,0\n2,155,74,17,96,26.6,0.433,27,1\n3,113,50,10,85,29.5,0.626,25,0\n7,109,80,31,0,35.9,1.127,43,1\n2,112,68,22,94,34.1,0.315,26,0\n3,99,80,11,64,19.3,0.284,30,0\n3,182,74,0,0,30.5,0.345,29,1\n3,115,66,39,140,38.1,0.15,28,0\n6,194,78,0,0,23.5,0.129,59,1\n4,129,60,12,231,27.5,0.527,31,0\n3,112,74,30,0,31.6,0.197,25,1\n0,124,70,20,0,27.4,0.254,36,1\n13,152,90,33,29,26.8,0.731,43,1\n2,112,75,32,0,35.7,0.148,21,0\n1,157,72,21,168,25.6,0.123,24,0\n1,122,64,32,156,35.1,0.692,30,1\n10,179,70,0,0,35.1,0.2,37,0\n2,102,86,36,120,45.5,0.127,23,1\n6,105,70,32,68,30.8,0.122,37,0\n8,118,72,19,0,23.1,1.476,46,0\n2,87,58,16,52,32.7,0.166,25,0\n1,180,0,0,0,43.3,0.282,41,1\n12,106,80,0,0,23.6,0.137,44,0\n1,95,60,18,58,23.9,0.26,22,0\n0,165,76,43,255,47.9,0.259,26,0\n0,117,0,0,0,33.8,0.932,44,0\n5,115,76,0,0,31.2,0.343,44,1\n9,152,78,34,171,34.2,0.893,33,1\n7,178,84,0,0,39.9,0.331,41,1\n1,130,70,13,105,25.9,0.472,22,0\n1,95,74,21,73,25.9,0.673,36,0\n1,0,68,35,0,32,0.389,22,0\n5,122,86,0,0,34.7,0.29,33,0\n8,95,72,0,0,36.8,0.485,57,0\n8,126,88,36,108,38.5,0.349,49,0\n1,139,46,19,83,28.7,0.654,22,0\n3,116,0,0,0,23.5,0.187,23,0\n3,99,62,19,74,21.8,0.279,26,0\n5,0,80,32,0,41,0.346,37,1\n4,92,80,0,0,42.2,0.237,29,0\n4,137,84,0,0,31.2,0.252,30,0\n3,61,82,28,0,34.4,0.243,46,0\n1,90,62,12,43,27.2,0.58,24,0\n3,90,78,0,0,42.7,0.559,21,0\n9,165,88,0,0,30.4,0.302,49,1\n1,125,50,40,167,33.3,0.962,28,1\n13,129,0,30,0,39.9,0.569,44,1\n12,88,74,40,54,35.3,0.378,48,0\n1,196,76,36,249,36.5,0.875,29,1\n5,189,64,33,325,31.2,0.583,29,1\n5,158,70,0,0,29.8,0.207,63,0\n5,103,108,37,0,39.2,0.305,65,0\n4,146,78,0,0,38.5,0.52,67,1\n4,147,74,25,293,34.9,0.385,30,0\n5,99,54,28,83,34,0.499,30,0\n6,124,72,0,0,27.6,0.368,29,1\n0,101,64,17,0,21,0.252,21,0\n3,81,86,16,66,27.5,0.306,22,0\n1,133,102,28,140,32.8,0.234,45,1\n3,173,82,48,465,38.4,2.137,25,1\n0,118,64,23,89,0,1.731,21,0\n0,84,64,22,66,35.8,0.545,21,0\n2,105,58,40,94,34.9,0.225,25,0\n2,122,52,43,158,36.2,0.816,28,0\n12,140,82,43,325,39.2,0.528,58,1\n0,98,82,15,84,25.2,0.299,22,0\n1,87,60,37,75,37.2,0.509,22,0\n4,156,75,0,0,48.3,0.238,32,1\n0,93,100,39,72,43.4,1.021,35,0\n1,107,72,30,82,30.8,0.821,24,0\n0,105,68,22,0,20,0.236,22,0\n1,109,60,8,182,25.4,0.947,21,0\n1,90,62,18,59,25.1,1.268,25,0\n1,125,70,24,110,24.3,0.221,25,0\n1,119,54,13,50,22.3,0.205,24,0\n5,116,74,29,0,32.3,0.66,35,1\n8,105,100,36,0,43.3,0.239,45,1\n5,144,82,26,285,32,0.452,58,1\n3,100,68,23,81,31.6,0.949,28,0\n1,100,66,29,196,32,0.444,42,0\n5,166,76,0,0,45.7,0.34,27,1\n1,131,64,14,415,23.7,0.389,21,0\n4,116,72,12,87,22.1,0.463,37,0\n4,158,78,0,0,32.9,0.803,31,1\n2,127,58,24,275,27.7,1.6,25,0\n3,96,56,34,115,24.7,0.944,39,0\n0,131,66,40,0,34.3,0.196,22,1\n3,82,70,0,0,21.1,0.389,25,0\n3,193,70,31,0,34.9,0.241,25,1\n4,95,64,0,0,32,0.161,31,1\n6,137,61,0,0,24.2,0.151,55,0\n5,136,84,41,88,35,0.286,35,1\n9,72,78,25,0,31.6,0.28,38,0\n5,168,64,0,0,32.9,0.135,41,1\n2,123,48,32,165,42.1,0.52,26,0\n4,115,72,0,0,28.9,0.376,46,1\n0,101,62,0,0,21.9,0.336,25,0\n8,197,74,0,0,25.9,1.191,39,1\n1,172,68,49,579,42.4,0.702,28,1\n6,102,90,39,0,35.7,0.674,28,0\n1,112,72,30,176,34.4,0.528,25,0\n1,143,84,23,310,42.4,1.076,22,0\n1,143,74,22,61,26.2,0.256,21,0\n0,138,60,35,167,34.6,0.534,21,1\n3,173,84,33,474,35.7,0.258,22,1\n1,97,68,21,0,27.2,1.095,22,0\n4,144,82,32,0,38.5,0.554,37,1\n1,83,68,0,0,18.2,0.624,27,0\n3,129,64,29,115,26.4,0.219,28,1\n1,119,88,41,170,45.3,0.507,26,0\n2,94,68,18,76,26,0.561,21,0\n0,102,64,46,78,40.6,0.496,21,0\n2,115,64,22,0,30.8,0.421,21,0\n8,151,78,32,210,42.9,0.516,36,1\n4,184,78,39,277,37,0.264,31,1\n0,94,0,0,0,0,0.256,25,0\n1,181,64,30,180,34.1,0.328,38,1\n0,135,94,46,145,40.6,0.284,26,0\n1,95,82,25,180,35,0.233,43,1\n2,99,0,0,0,22.2,0.108,23,0\n3,89,74,16,85,30.4,0.551,38,0\n1,80,74,11,60,30,0.527,22,0\n2,139,75,0,0,25.6,0.167,29,0\n1,90,68,8,0,24.5,1.138,36,0\n0,141,0,0,0,42.4,0.205,29,1\n12,140,85,33,0,37.4,0.244,41,0\n5,147,75,0,0,29.9,0.434,28,0\n1,97,70,15,0,18.2,0.147,21,0\n6,107,88,0,0,36.8,0.727,31,0\n0,189,104,25,0,34.3,0.435,41,1\n2,83,66,23,50,32.2,0.497,22,0\n4,117,64,27,120,33.2,0.23,24,0\n8,108,70,0,0,30.5,0.955,33,1\n4,117,62,12,0,29.7,0.38,30,1\n0,180,78,63,14,59.4,2.42,25,1\n1,100,72,12,70,25.3,0.658,28,0\n0,95,80,45,92,36.5,0.33,26,0\n0,104,64,37,64,33.6,0.51,22,1\n0,120,74,18,63,30.5,0.285,26,0\n1,82,64,13,95,21.2,0.415,23,0\n2,134,70,0,0,28.9,0.542,23,1\n0,91,68,32,210,39.9,0.381,25,0\n2,119,0,0,0,19.6,0.832,72,0\n2,100,54,28,105,37.8,0.498,24,0\n14,175,62,30,0,33.6,0.212,38,1\n1,135,54,0,0,26.7,0.687,62,0\n5,86,68,28,71,30.2,0.364,24,0\n10,148,84,48,237,37.6,1.001,51,1\n9,134,74,33,60,25.9,0.46,81,0\n9,120,72,22,56,20.8,0.733,48,0\n1,71,62,0,0,21.8,0.416,26,0\n8,74,70,40,49,35.3,0.705,39,0\n5,88,78,30,0,27.6,0.258,37,0\n10,115,98,0,0,24,1.022,34,0\n0,124,56,13,105,21.8,0.452,21,0\n0,74,52,10,36,27.8,0.269,22,0\n0,97,64,36,100,36.8,0.6,25,0\n8,120,0,0,0,30,0.183,38,1\n6,154,78,41,140,46.1,0.571,27,0\n1,144,82,40,0,41.3,0.607,28,0\n0,137,70,38,0,33.2,0.17,22,0\n0,119,66,27,0,38.8,0.259,22,0\n7,136,90,0,0,29.9,0.21,50,0\n4,114,64,0,0,28.9,0.126,24,0\n0,137,84,27,0,27.3,0.231,59,0\n2,105,80,45,191,33.7,0.711,29,1\n7,114,76,17,110,23.8,0.466,31,0\n8,126,74,38,75,25.9,0.162,39,0\n4,132,86,31,0,28,0.419,63,0\n3,158,70,30,328,35.5,0.344,35,1\n0,123,88,37,0,35.2,0.197,29,0\n4,85,58,22,49,27.8,0.306,28,0\n0,84,82,31,125,38.2,0.233,23,0\n0,145,0,0,0,44.2,0.63,31,1\n0,135,68,42,250,42.3,0.365,24,1\n1,139,62,41,480,40.7,0.536,21,0\n0,173,78,32,265,46.5,1.159,58,0\n4,99,72,17,0,25.6,0.294,28,0\n8,194,80,0,0,26.1,0.551,67,0\n2,83,65,28,66,36.8,0.629,24,0\n2,89,90,30,0,33.5,0.292,42,0\n4,99,68,38,0,32.8,0.145,33,0\n4,125,70,18,122,28.9,1.144,45,1\n3,80,0,0,0,0,0.174,22,0\n6,166,74,0,0,26.6,0.304,66,0\n5,110,68,0,0,26,0.292,30,0\n2,81,72,15,76,30.1,0.547,25,0\n7,195,70,33,145,25.1,0.163,55,1\n6,154,74,32,193,29.3,0.839,39,0\n2,117,90,19,71,25.2,0.313,21,0\n3,84,72,32,0,37.2,0.267,28,0\n6,0,68,41,0,39,0.727,41,1\n7,94,64,25,79,33.3,0.738,41,0\n3,96,78,39,0,37.3,0.238,40,0\n10,75,82,0,0,33.3,0.263,38,0\n0,180,90,26,90,36.5,0.314,35,1\n1,130,60,23,170,28.6,0.692,21,0\n2,84,50,23,76,30.4,0.968,21,0\n8,120,78,0,0,25,0.409,64,0\n12,84,72,31,0,29.7,0.297,46,1\n0,139,62,17,210,22.1,0.207,21,0\n9,91,68,0,0,24.2,0.2,58,0\n2,91,62,0,0,27.3,0.525,22,0\n3,99,54,19,86,25.6,0.154,24,0\n3,163,70,18,105,31.6,0.268,28,1\n9,145,88,34,165,30.3,0.771,53,1\n7,125,86,0,0,37.6,0.304,51,0\n13,76,60,0,0,32.8,0.18,41,0\n6,129,90,7,326,19.6,0.582,60,0\n2,68,70,32,66,25,0.187,25,0\n3,124,80,33,130,33.2,0.305,26,0\n6,114,0,0,0,0,0.189,26,0\n9,130,70,0,0,34.2,0.652,45,1\n3,125,58,0,0,31.6,0.151,24,0\n3,87,60,18,0,21.8,0.444,21,0\n1,97,64,19,82,18.2,0.299,21,0\n3,116,74,15,105,26.3,0.107,24,0\n0,117,66,31,188,30.8,0.493,22,0\n0,111,65,0,0,24.6,0.66,31,0\n2,122,60,18,106,29.8,0.717,22,0\n0,107,76,0,0,45.3,0.686,24,0\n1,86,66,52,65,41.3,0.917,29,0\n6,91,0,0,0,29.8,0.501,31,0\n1,77,56,30,56,33.3,1.251,24,0\n4,132,0,0,0,32.9,0.302,23,1\n0,105,90,0,0,29.6,0.197,46,0\n0,57,60,0,0,21.7,0.735,67,0\n0,127,80,37,210,36.3,0.804,23,0\n3,129,92,49,155,36.4,0.968,32,1\n8,100,74,40,215,39.4,0.661,43,1\n3,128,72,25,190,32.4,0.549,27,1\n10,90,85,32,0,34.9,0.825,56,1\n4,84,90,23,56,39.5,0.159,25,0\n1,88,78,29,76,32,0.365,29,0\n8,186,90,35,225,34.5,0.423,37,1\n5,187,76,27,207,43.6,1.034,53,1\n4,131,68,21,166,33.1,0.16,28,0\n1,164,82,43,67,32.8,0.341,50,0\n4,189,110,31,0,28.5,0.68,37,0\n1,116,70,28,0,27.4,0.204,21,0\n3,84,68,30,106,31.9,0.591,25,0\n6,114,88,0,0,27.8,0.247,66,0\n1,88,62,24,44,29.9,0.422,23,0\n1,84,64,23,115,36.9,0.471,28,0\n7,124,70,33,215,25.5,0.161,37,0\n1,97,70,40,0,38.1,0.218,30,0\n8,110,76,0,0,27.8,0.237,58,0\n11,103,68,40,0,46.2,0.126,42,0\n11,85,74,0,0,30.1,0.3,35,0\n6,125,76,0,0,33.8,0.121,54,1\n0,198,66,32,274,41.3,0.502,28,1\n1,87,68,34,77,37.6,0.401,24,0\n6,99,60,19,54,26.9,0.497,32,0\n0,91,80,0,0,32.4,0.601,27,0\n2,95,54,14,88,26.1,0.748,22,0\n1,99,72,30,18,38.6,0.412,21,0\n6,92,62,32,126,32,0.085,46,0\n4,154,72,29,126,31.3,0.338,37,0\n0,121,66,30,165,34.3,0.203,33,1\n3,78,70,0,0,32.5,0.27,39,0\n2,130,96,0,0,22.6,0.268,21,0\n3,111,58,31,44,29.5,0.43,22,0\n2,98,60,17,120,34.7,0.198,22,0\n1,143,86,30,330,30.1,0.892,23,0\n1,119,44,47,63,35.5,0.28,25,0\n6,108,44,20,130,24,0.813,35,0\n2,118,80,0,0,42.9,0.693,21,1\n10,133,68,0,0,27,0.245,36,0\n2,197,70,99,0,34.7,0.575,62,1\n0,151,90,46,0,42.1,0.371,21,1\n6,109,60,27,0,25,0.206,27,0\n12,121,78,17,0,26.5,0.259,62,0\n8,100,76,0,0,38.7,0.19,42,0\n8,124,76,24,600,28.7,0.687,52,1\n1,93,56,11,0,22.5,0.417,22,0\n8,143,66,0,0,34.9,0.129,41,1\n6,103,66,0,0,24.3,0.249,29,0\n3,176,86,27,156,33.3,1.154,52,1\n0,73,0,0,0,21.1,0.342,25,0\n11,111,84,40,0,46.8,0.925,45,1\n2,112,78,50,140,39.4,0.175,24,0\n3,132,80,0,0,34.4,0.402,44,1\n2,82,52,22,115,28.5,1.699,25,0\n6,123,72,45,230,33.6,0.733,34,0\n0,188,82,14,185,32,0.682,22,1\n0,67,76,0,0,45.3,0.194,46,0\n1,89,24,19,25,27.8,0.559,21,0\n1,173,74,0,0,36.8,0.088,38,1\n1,109,38,18,120,23.1,0.407,26,0\n1,108,88,19,0,27.1,0.4,24,0\n6,96,0,0,0,23.7,0.19,28,0\n1,124,74,36,0,27.8,0.1,30,0\n7,150,78,29,126,35.2,0.692,54,1\n4,183,0,0,0,28.4,0.212,36,1\n1,124,60,32,0,35.8,0.514,21,0\n1,181,78,42,293,40,1.258,22,1\n1,92,62,25,41,19.5,0.482,25,0\n0,152,82,39,272,41.5,0.27,27,0\n1,111,62,13,182,24,0.138,23,0\n3,106,54,21,158,30.9,0.292,24,0\n3,174,58,22,194,32.9,0.593,36,1\n7,168,88,42,321,38.2,0.787,40,1\n6,105,80,28,0,32.5,0.878,26,0\n11,138,74,26,144,36.1,0.557,50,1\n3,106,72,0,0,25.8,0.207,27,0\n6,117,96,0,0,28.7,0.157,30,0\n2,68,62,13,15,20.1,0.257,23,0\n9,112,82,24,0,28.2,1.282,50,1\n0,119,0,0,0,32.4,0.141,24,1\n2,112,86,42,160,38.4,0.246,28,0\n2,92,76,20,0,24.2,1.698,28,0\n6,183,94,0,0,40.8,1.461,45,0\n0,94,70,27,115,43.5,0.347,21,0\n2,108,64,0,0,30.8,0.158,21,0\n4,90,88,47,54,37.7,0.362,29,0\n0,125,68,0,0,24.7,0.206,21,0\n0,132,78,0,0,32.4,0.393,21,0\n5,128,80,0,0,34.6,0.144,45,0\n4,94,65,22,0,24.7,0.148,21,0\n7,114,64,0,0,27.4,0.732,34,1\n0,102,78,40,90,34.5,0.238,24,0\n2,111,60,0,0,26.2,0.343,23,0\n1,128,82,17,183,27.5,0.115,22,0\n10,92,62,0,0,25.9,0.167,31,0\n13,104,72,0,0,31.2,0.465,38,1\n5,104,74,0,0,28.8,0.153,48,0\n2,94,76,18,66,31.6,0.649,23,0\n7,97,76,32,91,40.9,0.871,32,1\n1,100,74,12,46,19.5,0.149,28,0\n0,102,86,17,105,29.3,0.695,27,0\n4,128,70,0,0,34.3,0.303,24,0\n6,147,80,0,0,29.5,0.178,50,1\n4,90,0,0,0,28,0.61,

In [25]:
# Data split to \n
lines = str_data.split('\n')

In [26]:
# Columns
columns_names = lines[0].split(',')
n_cols = len(columns_names)
n_cols, columns_names

(9,
 ['Pregnancies',
  'Glucose',
  'BloodPressure',
  'SkinThickness',
  'Insulin',
  'BMI',
  'DiabetesPedigreeFunction',
  'Age',
  'Outcome'])

In [27]:
counter = 0
main_dict = {}
for i in range(n_cols):
  main_dict[columns_names[i]] = []

main_dict

{'Pregnancies': [],
 'Glucose': [],
 'BloodPressure': [],
 'SkinThickness': [],
 'Insulin': [],
 'BMI': [],
 'DiabetesPedigreeFunction': [],
 'Age': [],
 'Outcome': []}

In [28]:
for line in lines:
  if counter > 0:
    values = line.strip().split(',')
    for i, val in enumerate(values):
      main_dict[columns_names[i]].append(val)
  counter = counter + 1

In [37]:
data_medica = pd.DataFrame(main_dict)

In [31]:
print('The dataset has %d rows and %d columns'%(counter, n_cols))

The dataset has 769 rows and 9 columns

In [33]:
import os

In [34]:
mainpath = './data2'
filename = 'registros_medicos.'
fullpath = os.path.join(mainpath, filename)

In [39]:
data_medica.to_csv(f'{fullpath}.csv')
data_medica.to_json(f'{fullpath}.json')
data_medica.to_excel(f'{fullpath}.xlsx')

# **--Resume**

In [41]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [40]:
data_medica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    object
 1   Glucose                   768 non-null    object
 2   BloodPressure             768 non-null    object
 3   SkinThickness             768 non-null    object
 4   Insulin                   768 non-null    object
 5   BMI                       768 non-null    object
 6   DiabetesPedigreeFunction  768 non-null    object
 7   Age                       768 non-null    object
 8   Outcome                   768 non-null    object
dtypes: object(9)
memory usage: 54.1+ KB

In [43]:
data.shape, data.ndim

((1309, 14), 2)

In [44]:
data.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [48]:
data.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [47]:
data.describe(include='object')

,name,sex,ticket,cabin,embarked,boat,home.dest
count,1309,1309,1309,295,1307,486,745
unique,1307,2,929,186,3,27,369
top,"Connolly, Miss. Kate",male,CA. 2343,C23 C25 C27,S,13,"New York, NY"
freq,2,843,11,6,914,39,64

In [50]:
data.describe(include="all")

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
count,1309.000000,1309.000000,1309,1309,1046.000000,1309.000000,1309.000000,1309,1308.000000,295,1307,486,121.000000,745
unique,NaN,NaN,1307,2,NaN,NaN,NaN,929,NaN,186,3,27,NaN,369
top,NaN,NaN,"Connolly, Miss. Kate",male,NaN,NaN,NaN,CA. 2343,NaN,C23 C25 C27,S,13,NaN,"New York, NY"
freq,NaN,NaN,2,843,NaN,NaN,NaN,11,NaN,6,914,39,NaN,64
mean,2.294882,0.381971,NaN,NaN,29.881135,0.498854,0.385027,NaN,33.295479,NaN,NaN,NaN,160.809917,NaN
std,0.837836,0.486055,NaN,NaN,14.413500,1.041658,0.865560,NaN,51.758668,NaN,NaN,NaN,97.696922,NaN
min,1.000000,0.000000,NaN,NaN,0.166700,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,1.000000,NaN
25%,2.000000,0.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN,NaN,72.000000,NaN
50%,3.000000,0.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN,NaN,155.000000,NaN
75%,3.000000,1.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.275000,NaN,NaN,NaN,256.000000,NaN
max,3.000000,1.000000,NaN,NaN,80.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN,NaN,328.000000,NaN

In [52]:
data[data.notnull()]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN